<% if @active_input === 1 %>
    <div class="container mt-5">
    <%= form_tag save_data_path, method: :post do %>
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 mb-4">
            <%= text_field_tag :monto%>
            <%= submit_tag%>
        </div>
    <% end %>
    </div>
<%end%>